PORT=8000

MONGODB_URI = 



CLIENT_URL=



EMAIL_USER =

EMAIL_PASS = 

EMAIL_HOST=

EMAIL_PORT=



BREVO_API_KEY=

EMAIL_USER=




ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRES_IN = 

REFRESH_TOKEN_SECRET = 

REFRESH_TOKEN_EXPIRES_IN = 


REDIS_URL=


GOOGLE_CLIENT_ID=



NODE_ENV=


SENTRY_DSN=



